<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning  btn-lg" (click)="onClickBlock()">Block</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="onClickUnblock()">Unblock</button>
        <button type="button" class="btn btn-danger btn-lg" (click)="onClickDelete()">Delete</button>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">
                    <div>
                      <input class="form-check-input" type="checkbox" [checked]="isAllSelected" #selectAll
                             (change)="onChangeSelectAll()">
                    </div>
                  </th>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date of registration</th>
                  <th scope="col">Date of login</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of users;let i = index">
                  <td>
                    <div class="">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="checklist[i].isSelected">
                    </div>
                  </td>
                  <td>{{u.id}}</td>
                  <td>{{u.name}}</td>
                  <td>{{u.email}}</td>
                  <td>{{u.dateReg | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td>{{u.dateLog | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td>{{u.status}}</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>


      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click)="logout()">Logout</button>
      </div>


    </div>
  </div>
</div>
